body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    height: 720px;
    width: 720px;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gridBox {   
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s, opacity 0.3s;
}

.resize {
    margin: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #c7bfdb;
    font-size: 16px;
}

#sizeText {
    margin-right: 5px;
}

#sizeInput {
    background-color: #f0f0f0;
    width: 50px;
    height: 20px;
    font-size: 16px;
    margin-right: 5px;
}

#sizeLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.header {
    font-family: 'Roboto';
}